
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form   asp-action="AddFish" method="post">
  
  <label>CustomerName</label><input type="text" name="CustomerName"><br>
   <label>Category</label><input type="text"  name="Category"><br><br>
   <label>Price</label><input type="text"  name="Price"><br><br>
   <label>Contact</label><input type="text"  name="PhoneNumber"><br><br>
  <input type="submit" value="Submit">
</form> 

